DATABASE_URL=
# Define si se rechazan certificados de BD no confiables. Por defecto 'true'. Colocar 'false' si tu BD requiere omitir validación SSL.
DB_SSL_REJECT_UNAUTHORIZED=true
JWT_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_REGION=
AWS_SES_SENDER_EMAIL=
GEMINI_API_KEY=
FRONTEND_URL=http://localhost:5173
PORT=3000
