DATABASE_URL=
# Define si se rechazan certificados de BD no confiables. Por defecto 'true'. Colocar 'false' si tu BD requiere omitir validación SSL.
DB_SSL_REJECT_UNAUTHORIZED=true
JWT_SECRET=
# Configuración del servicio de Email transaccional (Resend HTTPS API)
RESEND_API_KEY=re_123456789...
GEMINI_API_KEY=
FRONTEND_URL=http://localhost:5173
PORT=3000
